# _____                              _______________________________
# ____/ TELEMAC Project Definitions /______________________________/
#
#    space delimited list of active configurations
#
[Configurations]
configs: foss2017b
#
# _____          ___________________________________________________
# ____/ GENERAL /__________________________________________________/
[general]
modules:    system
#
cmd_lib:    ar cru <libname> <objs>
#
mods_all:   -I <config>
#
sfx_zip:    .gztar
sfx_lib:    .a
sfx_obj:    .o
sfx_mod:    .mod
sfx_exe:
#
val_root:   <root>/examples
val_rank:   all
# also possible val_rank:   <3 >7 6
cmd_obj_c: gcc -c <srcName> -o <objName>
#
# _____                         ____________________________________
# ____/ Fedora gfortran mpich2 /___________________________________/
[foss2017b]
#
brief: parallel mode, using mpiexec directly (of the MPICH2 package).
       The only difference with the scalar versions (optimised) is the presence
       of the key mpi_cmdexec and the -DHAVE_MPI compilation directive.
       Of course, you also need the key par_cmdexec.
       Finally, note that this configuration also works whether
       processor is 0 or 1.
#
mpi_cmdexec:   mpiexec -wdir <wdir> -n <ncsize> <exename>
#
#cmd_obj:    gfortran -c -cpp -O3 -DHAVE_AED2 -DHAVE_MPI -DHAVE_MUMPS -DHAVE_MED -fconvert=big-endian -frecord-marker=4 <mods> <incs> <f95name>
cmd_obj:    gfortran -c -cpp -O3 -DHAVE_MPI -DHAVE_MUMPS -DHAVE_SCOTCH -fconvert=big-endian -frecord-marker=4 <mods> <incs> <f95name>
cmd_exe:    mpif90 -fconvert=big-endian -frecord-marker=4 -v -lm -o <exename> <objs> <libs>

#EBROOTFFTW=/mnt/easybuild/software/FFTW/3.3.6-gompi-2017b
#EBROOTSCOTCH=/mnt/easybuild/software/SCOTCH/5.1.12b_esmumps-foss-2017b
#EBROOTNUMACTL=/mnt/easybuild/software/numactl/2.0.11-GCCcore-6.4.0
#EBROOTGCCCORE=/mnt/easybuild/software/GCCcore/6.4.0
#EBROOTSCALAPACK=/mnt/easybuild/software/ScaLAPACK/2.0.2-gompi-2017b-OpenBLAS-0.2.20
#EBROOTOPENBLAS=/mnt/easybuild/software/OpenBLAS/0.2.20-GCC-6.4.0-2.28
#EBROOTSZIP=/mnt/easybuild/software/Szip/2.1.1-GCCcore-6.4.0
#EBROOTHWLOC=/mnt/easybuild/software/hwloc/1.11.7-GCCcore-6.4.0
#EBROOTGOMPI=/mnt/easybuild/software/gompi/2017b
#EBROOTHDF5=/mnt/easybuild/software/HDF5/1.10.1-foss-2017b
#EBROOTGCC=/mnt/easybuild/software/GCCcore/6.4.0
#EBROOTBINUTILS=/mnt/easybuild/software/binutils/2.28-GCCcore-6.4.0
#EBROOTMUMPS=/mnt/easybuild/software/MUMPS/5.1.2-foss-2017b-metis
#EBROOTFOSS=/mnt/easybuild/software/foss/2017b
#EBROOTOPENMPI=/mnt/easybuild/software/OpenMPI/2.1.1-GCC-6.4.0-2.28
#EBROOTMETIS=/mnt/easybuild/software/METIS/5.1.0-GCCcore-6.4.0
#EBROOTZLIB=/mnt/easybuild/software/zlib/1.2.11-GCCcore-6.4.0

incs_all: -I$EBROOTOPENMPI/include -I$EBROOTMUMPS/include -I$EBROOTGCCCORE/include -I$EBROOTSCOTCH/include -I$EBROOTMETIS/include -I$EBROOTHDF5/include -I$EBROOTOPENBLAS/include -I$EBROOTSCALAPACK/include -I$EBROOTSCOTCH/include
libs_all: -L$EBROOTOPENMPI/lib -lmpi -L$EBROOTMUMPS/lib -ldmumps -lmumps_common -lpord -L$EBROOTSCALAPACK/lib -lscalapack -L$EBROOTOPENBLAS/lib -lopenblas -lpthread -L$EBROOTMETIS/lib -lmetis -L$EBROOTHDF5/lib -lhdf5 -L$EBROOTSCOTCH/lib -lptscotch -lptscotcherr -lptesmumps -lscotch -lesmumps
#
#
# _____                    _________________________________________
# ____/ Other Definitions /________________________________________/
#
#
# _____                     ________________________________________
# ____/ End of Definitions /_______________________________________/
